* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/doodle.png);
    background-size: 20%;
    background-repeat: repeat;
}

.conts-fl {
    width: 93%;
}

.logo {
    width: 125px;
}

.btn-danger {
    padding: 8px 20px;
    margin-right: 20px;
    font-weight: 550;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: yellow;
    text-decoration: underline;
}

.hambg {
    color: white;
}

.navs-icons,
.sign-ups {
    display: block;
}

.navbar-toggler{
    display: none;
}

.mslides{
    padding-top: 100px;
}

.conts-fl2{
    width: 90%;
}

.card-img-top{
    height: 250px;
}

.card{
    margin: 15px 20px;
}

footer{
    background-color: rgb(32, 32, 32);
}

.foots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 50px 0px;
}

.foot1{
    width: 30%;
}
.foot2{
    width: 20%;
}
.foot3{
    width: 20%;
}
.foot4{
    width: 25%;
}

.ul-links{
    list-style: none;
}

.ul-links li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.book-card{
    margin: auto;
    width: 85%;
}

.img-fluid{
    height: 420px;
    width: 900px;
}

.hr{
    border-bottom: 1px solid white;
}

.copyright{
    color: white;
    text-align: center;
}

.popup-email{
    outline: none;
    border: 1px solid;
    padding: 5px;
    /* border-bottom: 3px solid rgb(71, 71, 255); */
    width: 100%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(32, 32, 32);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1500;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ff4a4a;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }


@media (max-width: 1200px) {
    .conts-fl {
        width: 60%;
        justify-content: flex-start;
    }

    .navs-icons,
    .sign-ups {
        display: none;
    }

    .navbar-toggler {
        display: flex;
        width: 30%;
        justify-content: end;
        padding-right: 50px;
        outline: none;
        box-shadow: none;
        border: none;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
}

@media (max-width: 576px){
    .foots{
        display: flex;
        flex-direction: column;
    }
    .foot1{
        width: 80%;
    }
    .foot2{
        width: 80%;
    }
    .foot3{
        width: 80%;
    }
    .foot4{
        width: 80%;
    }
    .logo {
        padding: 5px 0px;
        width: 100px;
    }
    .hidder{
        display: none;
    }
}